## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# An Examination of Current Trends in Film

## Introduction

# Data Analysis

## Required Libraries and Data Retrieval

### Library Importations

In [78]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tmdbsimple as tmdb
import requests
from tqdm.notebook import tqdm
tmdb.API_KEY = '26fb51ea2574691bcb3a7e5d0ce700a2'

### Datasets and Retrieval

In [80]:
top_250 = tmdb.Lists(634)
top_250_dict = top_250.info()

imdb_id = []

for item in tqdm(top_250_dict['items']):
    film_id = item['id']
    imdb_id.append(film_id)
    
title = []
budget = []
revenue = []

for film in tqdm(imdb_id, desc='List Append'):
    
    film1 = tmdb.Movies(film)
    film1_info = film1.info()
    
    title.append(film1_info['original_title'])
    budget.append(film1_info['budget'])
    revenue.append(film1_info['revenue'])

HBox(children=(FloatProgress(value=0.0, max=250.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, description='List Append', max=250.0, style=ProgressStyle(description_…

In [127]:
discover = tmdb.Discover()
page = discover.movie(language='en-US', sort_by='revenue.desc', page=1, primary_release_date_gte='2010-01-01')

page_list = [1, 2, 3, 4, 5]

page_thing = []

for pages in tqdm(range(1,11), desc='Page Append'):
    discover = tmdb.Discover()
    page = discover.movie(language='en-US', sort_by='revenue.desc', page=pages, 
                          primary_release_date_gte='2010-01-01', with_original_language='en')
    page_thing.append(page)

HBox(children=(FloatProgress(value=0.0, description='Page Append', max=10.0, style=ProgressStyle(description_w…

In [128]:
for result in page_thing[5]['results']:
    print(result['original_title'])

Men in Black 3
Iron Man 2
Ant-Man and the Wasp
Logan
How to Train Your Dragon 2
Life of Pi
Transformers: The Last Knight
Tangled
The Croods
Ready Player One
Fifty Shades of Grey
Kong: Skull Island
The Smurfs
Cars 2
Puss in Boots
Ted
X-Men: Apocalypse
Cinderella
Despicable Me
American Sniper

[28341469,
 245066411,
 102600000,
 214179088,
 25118063,
 1000000,
 1004558444,
 321365567,
 1118888979,
 100853753,
 538400000,
 871368364,
 108981275,
 825532764,
 46836394,
 775398007,
 271842,
 677387716,
 463517383,
 926287400,
 30641770,
 327311859,
 272742922,
 5321508,
 10462500,
 23341568,
 389925971,
 36764313,
 9644124,
 32000000,
 45284974,
 5000000,
 23875127,
 39723096,
 150000000,
 520000000,
 481840909,
 9440272,
 19181,
 104931801,
 274925095,
 13275000,
 8500000,
 23217674,
 425368238,
 381109762,
 44781695,
 120072577,
 1081041287,
 229400000,
 291465034,
 0,
 28000000,
 0,
 356296601,
 28262574,
 2500000,
 183316455,
 1066969703,
 521311860,
 70000000,
 76270454,
 286801374,
 460583960,
 26589000,
 11000000,
 173921954,
 109676311,
 69995385,
 13129846,
 2859750,
 85000000,
 11990401,
 596349,
 763455561,
 7390108,
 4307000,
 72258126,
 5472914,
 572700000,
 46357676,
 126216940,
 210000000,
 30000000,
 14980005,
 7200000,
 5028948,
 25000000,
 361712,
 650422,
 51973029,
 96568,
 159414369,
 68700000,
 150438,
 159616327,
 159157447,
 474171806,
 25000000,
 23000000,
 44908000,
 0,
 9000000,
 140767956,
 374218673,
 24426169,
 0,
 321455689,
 83557872,
 15000000,
 11744471,
 83258226,
 92180910,
 9600000,
 735099082,
 373554033,
 9600000,
 26010864,
 0,
 0,
 187436818,
 1772000,
 41473619,
 2500000,
 6000000,
 269958228,
 66023329,
 0,
 60611975,
 11859533,
 46189568,
 2247465,
 50000000,
 16217773,
 2500000,
 28356188,
 4500000,
 171627166,
 158733820,
 7000000,
 116112375,
 672806292,
 138530565,
 470653000,
 19629760,
 102308889,
 16491080,
 33754967,
 225933435,
 8000000,
 1519557910,
 180899045,
 38000000,
 23057115,
 33965843,
 38251425,
 402352579,
 0,
 45000000,
 24464742,
 132511035,
 56255142,
 940335536,
 20045115,
 3000000,
 494878759,
 414211549,
 0,
 77208711,
 0,
 78371200,
 164000000,
 23689877,
 216763646,
 52287414,
 70906973,
 23650000,
 6979093,
 168840000,
 46665856,
 1725381,
 0,
 20908467,
 329398046,
 442824138,
 0,
 77737889,
 236049757,
 0,
 104945305,
 313542341,
 30861665,
 0,
 609016565,
 1021103568,
 7600000,
 33736689,
 0,
 377910544,
 117235147,
 0,
 7700000,
 441306145,
 638641,
 2200000,
 8000000,
 20000000,
 0,
 0,
 0,
 133432856,
 65796862,
 8708932,
 12000000,
 655011224,
 264118201,
 26000000,
 562816256,
 14500000,
 210819611,
 1341511219,
 21888598,
 19777647,
 385680446,
 623722818,
 8000000,
 920100000,
 15300000,
 294804195,
 0,
 377350553,
 3270000,
 70000000,
 354825435,
 28430000,
 3301446,
 33395426,
 0,
 156822020,
 53267000,
 39946780,
 33400000,
 0,
 6502364,
 0,
 216639112,
 426480871,
 5800000,
 0,
 0]

In [11]:
movie_budget_df = pd.read_csv('tn.movie_budgets.csv')

## Exploratory Data Analysis

In [12]:
print(movie_budget_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB
None

In [ ]:
print(movie_budget_df.)

 The data in the `tn.movie_budgets.csv` has been shown to be in an inoperable format for further analysis. Therefore we must transform the variables of `production_budget`, `domestic_gross`, and `worldwide_gross`. Casting these variables into an `int64` format will allow further mathematical operations.